<div class="wrapper">
  <nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
      <a class="sidebar-brand">
        <span class="align-middle"><strong>HORIZON</strong> FREE</span>
      </a>

      <ul class="sidebar-nav">
        <li class="sidebar-item active">
          <a class="sidebar-link">
            <i class="align-middle me-2" data-feather="home"></i> <span class="align-middle">Dashboard</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link">
            <i class="align-middle me-2" data-feather="shopping-cart"></i> <span class="align-middle">NFTMarketplace</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link">
            <i class="align-middle" data-feather="bar-chart"></i> <span class="align-middle">Tables</span>
          </a>
        </li>


        <li class="sidebar-item">
          <a data-bs-target="#dashboards" data-bs-toggle="collapse" class="sidebar-link collapsed">
            <i class="align-middle" data-feather="grid"></i>
            <span class="align-middle">Kanban</span>
          </a>
          <ul id="dashboards" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
            <li class="sidebar-item">
              <a class="sidebar-link" href="/">Upcoming Event</a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link">Ongoind Event</a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link">Completed Events</a>
            </li>
          </ul>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link">
            <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link">
            <i class="align-middle" data-feather="lock"></i> <span class="align-middle">Sign In</span>
          </a>
        </li>

      </ul>

    </div>
  </nav>

  <div class="main">
    <nav class="navbar navbar-expand navbar-light navbar-bg">
      <a class="sidebar-toggle js-sidebar-toggle">
        <i class="hamburger align-self-center"></i>
      </a>

      <div class="navbar-collapse collapse">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:;">Pages</a></li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
          </ol>
          <p class="page-title"><strong>Profile</strong></p>
          </nav>

        <ul class="navbar-nav navbar-align align-items-center desktop-search-navbar">
          <li>
            <div class="form-group mb-0 me-2">
              <input type="search" class="form-control form-control-search" placeholder="Search...">
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-icon dropdown-toggle" href="javascript:;" id="alertsDropdown" data-bs-toggle="dropdown">
              <div class="position-relative">
                <i class="bi bi-bell"></i>
                <span class="indicator">4</span>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0"
              aria-labelledby="alertsDropdown">
              <div class="dropdown-menu-header">
                4 New Notifications
              </div>
              <div class="list-group">
                <a href="javascript:;" class="list-group-item">
                  <div class="row g-0 align-items-center">
                    <div class="col-2">
                      <i class="text-danger" data-feather="alert-circle"></i>
                    </div>
                    <div class="col-10">
                      <div class="text-dark">Update completed</div>
                      <div class="text-muted small mt-1">Restart server 12 to complete the
                        update.</div>
                      <div class="text-muted small mt-1">30m ago</div>
                    </div>
                  </div>
                </a>
                <a href="javascript:;" class="list-group-item">
                  <div class="row g-0 align-items-center">
                    <div class="col-2">
                      <i class="text-warning" data-feather="bell"></i>
                    </div>
                    <div class="col-10">
                      <div class="text-dark">Lorem ipsum</div>
                      <div class="text-muted small mt-1">Aliquam ex eros, imperdiet vulputate
                        hendrerit et.</div>
                      <div class="text-muted small mt-1">2h ago</div>
                    </div>
                  </div>
                </a>
                <a href="javascript:;" class="list-group-item">
                  <div class="row g-0 align-items-center">
                    <div class="col-2">
                      <i class="text-primary" data-feather="home"></i>
                    </div>
                    <div class="col-10">
                      <div class="text-dark">Login from 192.186.1.8</div>
                      <div class="text-muted small mt-1">5h ago</div>
                    </div>
                  </div>
                </a>
                <a href="javascript:;" class="list-group-item">
                  <div class="row g-0 align-items-center">
                    <div class="col-2">
                      <i class="text-success" data-feather="user-plus"></i>
                    </div>
                    <div class="col-10">
                      <div class="text-dark">New connection</div>
                      <div class="text-muted small mt-1">Christina accepted your request.
                      </div>
                      <div class="text-muted small mt-1">14h ago</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="dropdown-menu-footer">
                <a href="javascript:;" class="text-muted">Show all notifications</a>
              </div>
            </div>
          </li>
          <li class="nav-icon">
            <a href="javascript:;" class="nav-icon">
              <div class="position-relative">
                <i class="bi bi-moon-fill"></i>
              </div>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-icon" href="javascript:;">
              <div class="position-relative">
                <i class="bi bi-info-circle"></i>
              </div>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="javascript:;"
              data-bs-toggle="dropdown">
              <i class="align-middle" data-feather="settings"></i>
            </a>

            <a class="nav-link dropdown-toggle d-none d-sm-inline-block avtar-dropdown" href="javascript:;"
              data-bs-toggle="dropdown">
              <img src="assets/img/avatars/avatar.jpg" class="avatar img-fluid rounded me-2 d-inline-block"
                alt="Charles Hall" />
                <!-- <div class="text-dark d-inline-block"><strong>Charles Hall</strong><br>Super admin</div> -->
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <a class="dropdown-item">
                <i class="align-middle me-1" data-feather="user"></i> Account Setting
              </a>
              <a class="dropdown-item">
                <i class="align-middle me-1" data-feather="key"></i> Change Password
              </a>
              <a class="dropdown-item" (click)="logOut()">
                <i class="align-middle me-1" data-feather="power"></i> Logout
              </a>

            </div>
          </li>
        </ul>
      </div>
    </nav>

    <main class="content">
      <router-outlet></router-outlet>
    </main>

    <footer class="footer">
      <div class="container-fluid">
        <div class="row text-muted">
          <div class="col-6 text-start">
            <p class="mb-0 p-12">© 2022 Horizon UI. All Rights Reserved. Made with love by Simmmple!</p>
          </div>
          <div class="col-6 text-end">
            <ul class="list-inline p-12">
              <li class="list-inline-item">
                <a class="text-muted" href="javascript:;" target="_blank">Marketplace</a>
              </li>
              <li class="list-inline-item">
                <a class="text-muted" href="javascript:;" target="_blank">License</a>
              </li>
              <li class="list-inline-item">
                <a class="text-muted" href="javascript:;" target="_blank">Terms of Use</a>
              </li>
              <li class="list-inline-item">
                <a class="text-muted" href="javascript:;" target="_blank">Blog</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
