<main class="d-flex w-100">
  <div class="login-container d-flex flex-column">
    <div class="row vh-100 m-0">
      <div class="col-lg-6 col-xl-6 col-sm-6 col-md-6 col-12 mx-auto d-table h-100 p-0 bg-white">
        <div class="d-table-cell align-middle login-leftside">
          <div class="backlink"><a href="javascript:void(0)" class="text-muted"><i class="align-middle me-2" data-feather="chevron-left"></i> Back to dashboard</a></div>
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="sign-in-content">
              <h1>Sign In</h1>
              <p class="text-muted">Enter your email and password to sign in!</p>
              <a href="javascript:void(0)" class="btn google-btn btn-lg w-100"><img src="../../../../assets/img/icons/Google-btn-logo.png"/> Sign in with Google</a>
              <div class="or-space">
                <span>or</span>
              </div>
            </div>
            <div class="form-group">
              <label>Email <span class="text-danger">*</span></label>
              <input class="form-control form-control-lg" formControlName="email" type="email" name="email"
                placeholder="mail@sample.com" />
              <span class="text-danger" *ngIf="
                loginForm.controls?.['email']?.touched &&
                loginForm.controls?.['email']?.errors?.['required']">
                  Please enter email
              </span>
              <span class="text-danger" *ngIf="
                loginForm.controls?.['email']?.touched &&
                loginForm.controls?.['email']?.errors?.['pattern']">
                  Please enter valid email
              </span>
            </div>
            <div class="form-group">
              <label>Password <span class="text-danger">*</span></label>
              <input class="form-control form-control-lg" formControlName="password" [type]="password" name="password"
                placeholder="Min 8 charectors" />
              <span class="showicon" *ngIf="!showPassword" (click)="showHidePass()"><i
                  class="bi bi-eye-fill"></i></span>
              <span class="showicon" *ngIf="showPassword" (click)="showHidePass()"><i
                  class="bi bi-eye-slash-fill"></i></span>
              <span class="text-danger" *ngIf="
                  loginForm.controls?.['password']?.touched &&
                  loginForm.controls?.['password']?.errors?.['required']">
                Please enter password
              </span>
              <span class="text-danger" *ngIf="
                  loginForm.controls?.['password']?.touched &&
                  loginForm.controls?.['password']?.errors?.['pattern']">
                Password must be contain alphabet (1 capital), number and @
              </span>
            </div>
            <div class="row align-items-center">
              <div class="col-6">
                <div class="form-check align-items-center">
                  <input id="customControlInline"  type="checkbox" class="form-check-input"
                    value="remember-me" name="remember-me" checked>
                  <label class="form-check-label text-small" for="customControlInline">Keep me logged in</label>
                </div>
              </div>
              <div class="col-6 text-end">
                <a href="javascript:;" class="p-600">Forgot Password?</a>
              </div>
            </div>
            <div class="d-grid gap-2 mt-3">
              <button type="submit" class="btn btn-lg btn-primary">Sign in</button>
            </div>
          </form>
          <div class="text-center mt-3">
            Not registered yet?  <a><strong>Create an Account</strong></a>
          </div>
          <div class="loginFooter">
            <p class="text-muted mt-3 p-12 mb-0">© 2022 Horizon UI. All Rights Reserved. Made with love by Simmmple!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-6 col-sm-6 col-md-6 col-12 p-0">
        <div class="login-rightside">
          <div class="content-wrapper text-center">
            <img src="/assets/img/login-Horizon-Logo.png" width="200"/>
            <div class="content-box">
              <p>Learn more about Horizon UI on</p>
              <h2 class="text-white">horizon-ui.com</h2>
            </div>
            <div class="row align-items-center">
              <div class="col-lg-10 col-xl-10 col-md-10 col-sm-10 col-12">
                <ul class="loginFooterNav">
                  <li><a href="javascript:void(0)">Marketplace</a></li>
                  <li><a href="javascript:void(0)">License</a></li>
                  <li><a href="javascript:void(0)">Terms of Use</a></li>
                  <li><a href="javascript:void(0)">Blog</a></li>
                </ul>
              </div>
              <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2 col-12">
                <a><img src="../../../../assets/img/icons/light.svg"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
