<div class="container-fluid p-0">
  <div class="row row-flex">
    <div class="col-lg-4 col-xl-4 col-12">
      <div class="card radius20 items-stretch-95">
        <div class="card-body">
          <div class="profile-card-header"></div>
          <div class="profile-details">
            <div class="avatar-lg mx-auto border-white">
              <img src="assets/img/avatars/avatar-2.jpg"/>
            </div>
            <h4><strong>Adela Parkson</strong></h4>
            <p class="text-muted">Product Designer</p>
          </div>
          <div class="row align-items-center justify-content-center">
            <div class="col-3 text-center">
              <p class="p-24 p-700 mb-0">17</p>
              <p class="text-muted p-12">Posts</p>
            </div>
            <div class="col-3 text-center">
              <p class="p-24 p-700 mb-0">9.7K</p>
              <p class="text-muted p-12">Followers</p>
            </div>
            <div class="col-3 text-center">
              <p class="p-24 p-700 mb-0">274</p>
              <p class="text-muted p-12">Followers</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-xl-3 col-12">
      <div class="card radius20 items-stretch-95">
        <div class="card-body">
          <div class="dropdown" style="position: absolute; right: 20px">
            <button class="btn btn-secondary dropdown-toggle threedot-menu" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="javascript:;">Action</a></li>
              <li><a class="dropdown-item" href="javascript:;">Another action</a></li>
              <li><a class="dropdown-item" href="javascript:;">Something else here</a></li>
            </ul>
            </div>
          <div class="row">
            <div class="col-12 text-center mb-5">
              <img src="assets/img/icons/cloud-tick.png"/>
              <p class="p-24 p-700 mb-0">Your storage</p>
              <p class="text-muted">Supervise your drive space in the easiest way</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="text-muted p-12 mb-2"><span>25.6 Gb</span> <span class="float-end">50 Gb</span></p>
              <div class="progress" style="height: 6px;">
                <div class="progress-bar" style="width: 95%;" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="95"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-xl-5 col-12">
      <div class="card radius20 items-stretch-95">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-lg-6 col-xl-6 col-12">
              <div class="upload-btn-wrapper">
                <button class="file-btn w-95">
                  <img src="assets/img/icons/upload.png" width="64"/><br>
                  <strong>Upload Files</strong>
                  <p class="mt-2 p-12 text-muted">PNG, JPG and GIF files are allowed</p>
                </button>
                <input type="file" name="myfile">

                </div>
            </div>
            <div class="col-lg-6 col-xl-6 col-12 text-center">
              <p class="p-24 p-700 mb-0">Your storage</p>
              <p class="p-12 text-muted">Stay on the pulse of distributed projects with an anline whiteboard to plan, coordinate and discuss</p>
              <button type="button" class="btn btn-primary mt-5">Publish now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-flex">
    <div class="col-lg-4 col-xl-4 col-12">
      <div class="card radius20 items-stretch-95">
        <div class="card-body">
          <p class="p-24 p-700">All Projects</p>
          <p class="text-muted">Here you can find more details about your projects. Keep you user engaged by providing meaningful information.</p>
          <div class="card radius20 shadow-sm">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-3">
                  <div class="avtar-full height-50">
                    <img src="assets/img/photos/unsplash-1.jpg" class="height-50 rounded-6"/>
                  </div>
                </div>
                <div class="col-7">
                  <p class="mb-0 p-12">Technology behind the Blockchain</p>
                  <p class="p-12 mb-0 text-muted">Project #1 <span></span> <a href="javascript:void(0)">See project details</a></p>
                </div>
                <div class="col-2 text-center">
                  <a href="javascript:void(0)" class="text-muted"><i class="bi bi-pencil-fill"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="card radius20 shadow-sm">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-3">
                  <div class="avtar-full height-50">
                    <img src="assets/img/photos/unsplash-1.jpg" class="height-50 rounded-6"/>
                  </div>
                </div>
                <div class="col-7">
                  <p class="mb-0 p-12">Technology behind the Blockchain</p>
                  <p class="p-12 mb-0 text-muted">Project #1 <span></span> <a href="javascript:void(0)">See project details</a></p>
                </div>
                <div class="col-2 text-center">
                  <a href="javascript:void(0)" class="text-muted"><i class="bi bi-pencil-fill"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="card radius20 shadow-sm">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-3">
                  <div class="avtar-full height-50">
                    <img src="assets/img/photos/unsplash-1.jpg" class="height-50 rounded-6"/>
                  </div>
                </div>
                <div class="col-7">
                  <p class="mb-0 p-12">Technology behind the Blockchain</p>
                  <p class="p-12 mb-0 text-muted">Project #1 <span></span> <a href="javascript:void(0)">See project details</a></p>
                </div>
                <div class="col-2 text-center">
                  <a href="javascript:void(0)" class="text-muted"><i class="bi bi-pencil-fill"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-xl-5 col-12">
      <div class="card radius20 items-stretch-95">
        <div class="card-body">
          <p class="p-24 p-700">General Information</p>
          <p class="text-muted">As we live, our hearts turn colder. Cause pain is what we go through as we become older. We get insulted by others, lose trust for those others. We get back stabbed by friends. It becomes harder for us to give others a hand. We get our heart broken by people we love, even that we give them all...</p>
          <div class="row align-items-center">
            <div class="col-6">
              <div class="card radius20 shadow-sm">
                <div class="card-body">
                  <p class="p-12 mb-0 text-muted">Education</p>
                  <p class="p-12 mb-0">Stanford University</p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card radius20 shadow-sm">
                <div class="card-body">
                  <p class="p-12 mb-0 text-muted">Languages</p>
                  <p class="p-12 mb-0">English, Spanish, Italian</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-6">
              <div class="card radius20 shadow-sm">
                <div class="card-body">
                  <p class="p-12 mb-0 text-muted">Department</p>
                  <p class="p-12 mb-0">Product Design</p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card radius20 shadow-sm">
                <div class="card-body">
                  <p class="p-12 mb-0 text-muted">Work History</p>
                  <p class="p-12 mb-0">Google, Facebook</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-6">
              <div class="card radius20 shadow-sm">
                <div class="card-body">
                  <p class="p-12 mb-0 text-muted">Organization</p>
                  <p class="p-12 mb-0">Simmmple Web LLC</p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card radius20 shadow-sm">
                <div class="card-body">
                  <p class="p-12 mb-0 text-muted">Birthday</p>
                  <p class="p-12 mb-0">20 July 1986</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-lg-3 col-xl-3 col-12">
      <div class="card radius20 items-stretch-95">
        <div class="card-body">
          <div class="dropdown" style="position: absolute; right: 20px">
            <button class="btn btn-secondary dropdown-toggle threedot-menu" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="javascript:;">Action</a></li>
              <li><a class="dropdown-item" href="javascript:;">Another action</a></li>
              <li><a class="dropdown-item" href="javascript:;">Something else here</a></li>
            </ul>
            </div>
          <p class="p-24 p-700">All Projects</p>
          <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
            <label class="form-check-label p-12" for="flexSwitchCheckChecked">Item comment notifications</label>
          </div>
          <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label p-12" for="flexSwitchCheckDefault">Item update notifications</label>
          </div>
          <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
            <label class="form-check-label p-12" for="flexSwitchCheckChecked">Item comment notifications</label>
          </div>
          <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label p-12" for="flexSwitchCheckDefault">Item update notifications</label>
          </div>
          <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">
            <label class="form-check-label p-12" for="flexSwitchCheckChecked">Item comment notifications</label>
          </div>
          <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked>
            <label class="form-check-label p-12" for="flexSwitchCheckDefault">Item update notifications</label>
          </div>
          <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
            <label class="form-check-label p-12" for="flexSwitchCheckChecked">Item comment notifications</label>
          </div>
          <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label p-12" for="flexSwitchCheckDefault">Item update notifications</label>
          </div>
          <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">
            <label class="form-check-label p-12" for="flexSwitchCheckChecked">Item comment notifications</label>
          </div>
          <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label p-12" for="flexSwitchCheckDefault">Item update notifications</label>
          </div>
          <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
            <label class="form-check-label p-12" for="flexSwitchCheckChecked">Item comment notifications</label>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
